<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>City</title>
    <style>
        .format {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="format">
    <form method="post" th:action="@{/}" th:object="${dataResponse}">
        <input id="countryName" required type="text" th:field="*{name}" placeholder="Введіть назву продукта"><br>
        <button type="submit">Пошук</button>
    </form>
</div>

</body>
</html>